/.phpstan.neon.dist export-ignore
/.php-sc-fixer.php export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.github export-ignore
/.gitignore export-ignore
/README.ru.md export-ignore
/composer.lock export-ignore
/.vs-version-increment.php export-ignore
/examples